//tekuro.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.37de7d5a-00f4-4011-ad1c-495e0b95fef7/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
@fraud:registry=https://tekuro.usw-16.palantirfoundry.com/artifacts/api/repositories/ri.artifacts.main.repository.37de7d5a-00f4-4011-ad1c-495e0b95fef7/contents/release/npm/
